/* #E0D8B0
#FCFFE7
#DEA057
#CE9461 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e0d8b0;
}

/* .container {
  width: 400px;
  height: 400px;
  margin: auto auto;
} */

.container {
  padding-top: 100px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

header {
  color: BLACK;
  background-color: #dea057;
  margin: auto -16px;
  padding: 10px 10px;
  text-align: center;
}

.counter {
  background-color: white;
  margin: auto -16px;
  padding: 16px 32px;
  height: 300px;
}

.counter h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.counter h3 {
  font-size: 3rem;
  padding-bottom: 15px;
}
